streamlit
python-dotenv
bcrypt
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-groq
langchain-nvidia-ai-endpoints
pandas
numpy
plotly
matplotlib
seaborn
python-dateutil
requests
playwright
